<a href="https://colab.research.google.com/github/xbriandavid/Workshops/blob/master/water_quality_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning and Organizing the Data from U.S.G.S.

Throughout the data wrangling process, we utilized the Pandas package. The dataset was queried on the USGS' website: https://sfbay.wr.usgs.gov/access/wqdata/index.html . This website provides extensive data on the water quality of the San Francisco Bay and lays out the entirety of the data that we analyzed. The site contains years of information for which we selected a subset of years that are more recent and relevant (2014 - 2018). Each querry is based on a year, such that a  querry was made for water quality in the year 2014, water quality in the year 2015, and so on. Afterwards, the query was completed with a download of its excel file. For my convenience, I had created one excel file, "Main Data", that contains 4 sheets: 2014-2015, 2016, 2017, and 2018 water quality data.



---

In [0]:
import pandas as pd
data = pd.ExcelFile("file:///C:/Users/Brian/Desktop/MAIN/DATA for ML/SFBay_WaterQuality2014-208.xlsx")
tabnames = data.sheet_names
quality_201415 = data.parse(sheet_name = tabnames[0], skiprows=0)
quality_2016 = data.parse(sheet_name = tabnames[1], skiprows=0)
quality_2017 = data.parse(sheet_name = tabnames[2], skiprows=0)
quality_2018 = data.parse(sheet_name = tabnames[3], skiprows=0)

Let's print the head of the "quality_2018" data frame. There are 22 columns in the dataset. Furthermore, some of the units of the columns (let's refer them to constituents) are placed in another row. Let's clean that up.

In [0]:
quality_2018.head()

,Date,Station Number,Depth,Discrete Chlorophyll,Chlorophyll a/a+PHA,Fluorescence,Calculated Chlorophyll,Discrete Oxygen,Oxygen Electrode Output,Oxygen Saturation %,...,Optical Backscatter,Calculated SPM,Measured Extinction Coefficient,Salinity,Temperature,Nitrite,Nitrate + Nitrite,Ammonium,Phosphate,Silicate
0,MM/DD/YYYY,NaN,[meters],[mg/m3],NaN,[volts],[mg/m3],[mg/L],[volts],NaN,...,[volts],[mg/L],[per meter],[psu],[°C],[µM],[µM],[µM],[µM],[µM]
1,2018-01-10 00:00:00,36.0,1,NaN,NaN,0.55,4.9,NaN,8.2,88.0,...,2.39,98,NaN,23.4,11.96,NaN,NaN,NaN,NaN,NaN
2,2018-01-10 00:00:00,36.0,2,4.2,0.51,0.46,4.1,NaN,8.2,89.0,...,2.6,107,NaN,23.54,11.97,2.66,76.39,13.42,6.97,110.84
3,2018-01-10 00:00:00,36.0,3,NaN,NaN,0.43,3.9,NaN,8.2,89.0,...,3.01,124,NaN,24.26,11.96,NaN,NaN,NaN,NaN,NaN
4,2018-01-10 00:00:00,36.0,4,NaN,NaN,0.46,4.1,NaN,8.2,89.0,...,5.12,213,NaN,24.36,11.97,NaN,NaN,NaN,NaN,NaN